.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.two-dimensional-webpage {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: white;
}

.dream-space-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.landing-page {
  padding: 20px;
  color: black;
}
